* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-sum {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card-footer button {
  padding: 7px 20px;
  border: 1px solid #FFFFFF;
  font-size: 18px;
  border-radius: 5px;
  background-color: #2F58CD;
  color: #FFFFFF;
  cursor: pointer;
  
}

@media only screen and (max-width: 600px) {

  .App {
    padding: 20px;
  }
  .card {
    width: 100%;
  }
}

